<app-titulo [titulo]="'Eventos'"></app-titulo>

<div class="row row-cols-lg-auto g-3 align-items-center">
  <label class="mr-2" for="inlineFormInputGroupUsername">Filtro: </label>
  <div >
    <div class="input-group">
      <input 
      type="text" 
      class="form-control" 
      placeholder="buscar" 
      [(ngModel)]="filtroLista"
      />
    </div>
  </div>
</div>
<hr>
  
<table class="table">
  <thead class="table-dark">
    <tr>
      <th class="" scope="col">
          <button type="button" 
            class="btn btn-outline-light btn-sm" 
            (click)="isCollapsed = !isCollapsed">
            <i class="{{isCollapsed ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
            {{isCollapsed ? 'Exibir' : 'Ocultar'}}        
        </button>
      </th>
      <th class="" scope="col">#</th>
      <th class="" scope="col">Tema</th>
      <th class="" scope="col">Local</th>
      <th class="" scope="col">Data</th>
      <th class="" scope="col">Qtd Pessoas</th>
      <th class="" scope="col">Lote</th>
      <th class="" scope="col">Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos.length">
    <tr *ngFor="let evento of filtrarEventos(filtroLista)">
      <td class="">
        <img 
          src="/assets/{{evento.imageURL}}" 
          alt="Foto de identificação do evento {{evento.id}}" 
          [style.width.px]="widthImg"
          [style.margin.px]="marginImg"
          class="collapse navbar-collapse" 
          [collapse]="isCollapsed" 
          [isAnimated]="true"
        >
      </td>
      <th class="" scope="row">{{evento.id}}</th>
      <td class="">{{evento.tema}}</td>
      <td class="">{{evento.local}}</td>
      <td class="">{{evento.dataEvento | DateTimeFormat}}</td>
      <td class="">{{evento.qtdPessoas}}</td>
      <td class="">{{evento.lotes[0].nome | uppercase}}</td>
      <td class="">
        <button type="button" class="btn btn-primary btn-sm me-2" tooltip="Editar">
          <i class="{{'fa fa-edit'}}"></i>
        </button>
        <button type="button" class="btn btn-danger btn-sm" tooltip="Excluir" (click)="openModal(template)">
          <i class="{{'fa fa-trash'}}"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!filtrarEventos(filtroLista).length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que quer deletar este evento?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>